@charset "UTF-8";
/* --------------------------------------------------- BASE --------------------------------------------------- */
@font-face {
  font-family: "Kyiv";
  src: url("../fonts/Kyiv/Dmitry Rastvortsev - KyivType Sans Bold2.otf") format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: "Eugusto";
  src: url("../fonts/Eugusto Free Font.otf");
}
/* FONTS */
/* COLORS */
/* PADDING */
/* HEIGHT */
/* EXTEND */
.widthHeight100, .cover, .menuContent, .header, .footer {
  width: 100vw;
  height: 100vh;
}

@font-face {
  font-family: "Kyiv";
  src: url("../fonts/Kyiv/Dmitry Rastvortsev - KyivType Sans Bold2.otf") format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: "Eugusto";
  src: url("../fonts/Eugusto Free Font.otf");
}
/* FONTS */
/* COLORS */
/* PADDING */
/* HEIGHT */
/* EXTEND */
.widthHeight100, .cover, .menuContent, .header, .footer {
  width: 100vw;
  height: 100vh;
}

/* --------------------------------------------------- CURSOR --------------------------------------------------- */
.cursor {
  position: fixed;
  /* en fixed se posiciona segun el viewport, en absolute se posiciona segun el elemento padre más cercano con posición relativa*/
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 1000;
  transition: all 0.1s ease;
  transition-property: background-color, transform, width, height;
}

.cursor-default {
  width: 1.14vw;
  height: 1.14vw;
  background-color: #FFFFFF;
  border-radius: 50%;
  mix-blend-mode: difference;
}

.cursor-projects {
  width: 1.14vw;
  height: 1.14vw;
  background-color: #EFF339;
  border-radius: 50%;
  mix-blend-mode: normal;
}

.cursor-images {
  width: 4.38vw;
  height: 4.38vw;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(0.34vw);
  border-radius: 50%;
  border: 0.08vw solid #FFFFFF;
  mix-blend-mode: normal;
  text-align: center;
}
.cursor-images::after {
  content: "see";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.1vw;
  line-height: 84%;
  color: #FFFFFF;
}

.cursor-images-projects {
  width: 5.83vw;
  height: 5.83vw;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(0.34vw);
  border-radius: 50%;
  border: 0.08vw solid #FFFFFF;
  mix-blend-mode: normal;
  text-align: center;
}
.cursor-images-projects::after {
  content: "see project";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.1vw;
  line-height: 84%;
  color: #FFFFFF;
}

.cursor-links {
  width: 4.38vw;
  height: 4.38vw;
  border: 0.08vw solid #FFFFFF;
  mix-blend-mode: difference;
  border-radius: 50%;
  background-color: transparent;
}

.cursor-footer {
  width: 5.83vw;
  height: 5.83vw;
  border-radius: 50%;
  border: 0 solid;
  background-color: #EFF339;
  mix-blend-mode: normal;
}
.cursor-footer::after {
  content: "";
  background-image: url("../icons/arrow-up.svg");
  background-size: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
}

@font-face {
  font-family: "Kyiv";
  src: url("../fonts/Kyiv/Dmitry Rastvortsev - KyivType Sans Bold2.otf") format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: "Eugusto";
  src: url("../fonts/Eugusto Free Font.otf");
}
/* FONTS */
/* COLORS */
/* PADDING */
/* HEIGHT */
/* EXTEND */
.widthHeight100, .cover, .menuContent, .header, .footer {
  width: 100vw;
  height: 100vh;
}

/* --------------------------------------------------- NAVBAR --------------------------------------------------- */
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 14vh;
  padding: 0 6.25vw 0 6.25vw;
  z-index: 999;
}
.navbar ul {
  width: 100%;
  height: 100%;
  list-style-type: none;
  /* display: flex; (aplicado desde bs) */
  justify-content: space-between;
  align-items: center;
}
.navbar ul li a {
  text-decoration: none;
  font-size: 1.94vw;
  letter-spacing: 0.56px;
  font-weight: 600;
  transition: width 0.3s ease-in-out;
}

/* --------------------------------------------------- MEDIA QUERIES --------------------------------------------------- */
@media (max-width: 768px) {
  .navbar {
    position: fixed;
  }
  .navbar ul {
    justify-content: center;
    padding: 0;
  }
  .navbar ul li a {
    font-size: 7.5vw;
  }
}
@font-face {
  font-family: "Kyiv";
  src: url("../fonts/Kyiv/Dmitry Rastvortsev - KyivType Sans Bold2.otf") format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: "Eugusto";
  src: url("../fonts/Eugusto Free Font.otf");
}
/* FONTS */
/* COLORS */
/* PADDING */
/* HEIGHT */
/* EXTEND */
.widthHeight100, .cover, .menuContent, .header, .footer {
  width: 100vw;
  height: 100vh;
}

/* --------------------------------------------------- FOOTER --------------------------------------------------- */
.footerGallery {
  position: absolute;
  top: 0;
  left: 100vw;
}

.footer {
  padding: 0 6.25vw;
  background-color: #0A0A0A;
  z-index: 998;
  display: grid;
  grid-template-rows: 3fr 1fr;
}

.footer__lgit {
  /* display: flex; (agregado desde bs)*/
  align-items: center;
  padding-top: 10vh;
}
.footer__lgit h2 {
  position: relative;
  z-index: 999;
  transform: translate(0, 0);
  /* esto crea un nuevo contexto de apilamiento */
  font-family: "Kyiv", sans-serif;
  font-size: 14.93vw;
  text-transform: lowercase;
  color: #FFFFFF;
  white-space: nowrap;
}
.footer__lgit h2 span {
  position: relative;
  top: 0;
  left: 0;
  transition: left 0.9s ease;
}
.footer__lgit h2 span img {
  position: absolute;
  bottom: 0vw;
  left: 28vw;
  width: 5.16vw;
  transform: rotate(-17.125deg);
  transition: transform 0.9s ease;
}

.footer__assetPhotographer {
  position: absolute;
  z-index: -1;
  /* esto coloca el círculo por debajo del texto */
  top: -2vh;
  left: 75vw;
  transform: rotate(7.109deg);
  background: #EFF339;
  /* display: flex; (agregado desde bs) */
  padding: 4.17vw 2.5vw;
  align-items: center;
  width: 13.54vw;
  height: 13.54vw;
  border-radius: 50%;
}
.footer__assetPhotographer p {
  color: #0A0A0A;
  font-size: 1.32vw;
  line-height: 84%;
  letter-spacing: 0.02em;
  font-weight: 600;
  font-family: "Syne", sans-serif;
  flex-grow: 2;
  flex-shrink: 0;
}

.footer__contact {
  /* display: flex;
  flex-direction: column; (aplicado desde bs)*/
  justify-content: center;
  width: 45vw;
  margin-left: 15vw;
  gap: 3vh;
}

.footer__contact__row {
  /* display: flex; (aplicado desde bs)*/
  justify-content: space-around;
}

.footer__item__row1 {
  text-decoration: none;
  font-size: 2.78vw;
  letter-spacing: 0.56px;
  font-weight: 700;
  color: #6D6D6D;
}
.footer__item__row1:hover {
  color: #FFFFFF;
}

.footer__item__row2 {
  text-decoration: none;
  color: #373737;
  font-weight: 500;
  font-size: 1.25vw;
}
.footer__item__row2:hover {
  color: #FFFFFF;
}

.footer__item--active::before {
  content: "*";
}

/* --------------------------------------------------- MEDIA QUERIES --------------------------------------------------- */
@media (max-width: 768px) {
  /* -------------------------------- FOOTER -------------------------------- */
  .footerGallery {
    position: static;
  }
  .footer {
    padding: 0 6.25vw;
    background-color: #0A0A0A;
    width: 100vw;
    height: 100vh;
    z-index: 998;
    display: grid;
    grid-template-rows: 3fr 1fr;
  }
  .footer__lgit {
    padding-top: 0vh;
    max-height: 70vh;
  }
  .footer__lgit h2 {
    position: static;
    font-weight: 700;
    font-size: 26vw;
    white-space: pre-wrap;
    max-height: 96vh;
  }
  .footer__lgit h2 span {
    position: static;
  }
  .footer__lgit h2 span img {
    display: none;
  }
  .footer__assetPhotographer {
    top: 36vh;
    left: 50vw;
    padding: 4.17vw 6.5vw;
    width: 35.54vw;
    height: 35.54vw;
  }
  .footer__assetPhotographer p {
    font-size: 3.4vw;
  }
  .footer__contact {
    margin-left: 0vw;
    width: 100%;
    padding-bottom: 6vh;
  }
  .footer__contact__row {
    height: 100%;
    /* flex-direction: column; (aplicado desde bs)*/
  }
  .footer__item__row2 {
    font-size: 4.6vw;
  }
}
@font-face {
  font-family: "Kyiv";
  src: url("../fonts/Kyiv/Dmitry Rastvortsev - KyivType Sans Bold2.otf") format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: "Eugusto";
  src: url("../fonts/Eugusto Free Font.otf");
}
/* FONTS */
/* COLORS */
/* PADDING */
/* HEIGHT */
/* EXTEND */
.widthHeight100, .cover, .menuContent, .header, .footer {
  width: 100vw;
  height: 100vh;
}

/* --------------------------------------------------- CONTENIDO GALLERY --------------------------------------------------- */
.header {
  display: grid;
  place-content: center;
  margin-top: -12vh;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.header h1 {
  font-size: 22.78vw;
  text-transform: lowercase;
  letter-spacing: 0.56px;
  font-weight: 600;
  /* creamos una especie de máscara */
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  z-index: 1000;
  pointer-events: none;
}

.galleryContent {
  height: 100vh;
  overflow: hidden;
}

.galleryContent__container {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.galleryContent__imgGallery {
  position: absolute;
  overflow: hidden;
  will-change: filter, transform;
  /* indicar el cambio de filtro supuestamente mejoraría el rendimiento */
  transition: transform, filter 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.imgGallery01 {
  width: 24.31vw;
  top: 100vh;
  left: -3.33vw;
}

.imgGallery02 {
  width: 32.36vw;
  top: 100vh;
  left: 51.74vw;
}

.imgGallery03 {
  width: 12.78vw;
  top: 100vh;
  right: 7.36vw;
  z-index: 998;
}

.imgGallery04 {
  width: 42vw;
  top: 50vh;
  left: 110vw;
  transform: translateY(-50%);
}

.galleryContent__img3Text {
  position: absolute;
  top: 50vh;
  left: 42vw;
  transform: translate(-50%, -40%);
  z-index: 999;
  /* opacity: 0; */
  display: none;
  font-family: "Eugusto", sans-serif;
  color: #0A0A0A;
  font-size: 10vw;
  line-height: 68%;
}

.galleryContent__ellipse {
  position: absolute;
  top: 70.71%;
  left: 79.51%;
  background: #EFF339;
  /* display: none; */
  /* se cambia a flex desde js */
  display: flex;
  padding: 4.17vw 1.94vw;
  align-items: center;
  width: 11.11vw;
  height: 11.11vw;
  border-radius: 50%;
}
.galleryContent__ellipse p {
  color: #0A0A0A;
  font-size: 1.11vw;
  /* Calculado: 16px / 1440px * 100% */
  line-height: 84%;
  letter-spacing: 0.02em;
  font-weight: 500;
  flex-grow: 2;
  flex-shrink: 0;
}
.galleryContent__ellipse img {
  flex: auto;
  position: relative;
  top: 140%;
  left: -14%;
  width: 3.333vw;
  flex-grow: 1;
  flex-shrink: 0;
}

/* --------------------------------------------------- MEDIA QUERIES --------------------------------------------------- */
@media (max-width: 768px) {
  /* -------------------------------- CONTENIDO GALLERY -------------------------------- */
  .header {
    margin-top: 0;
    height: auto;
    position: relative;
    margin-bottom: -100vh;
    top: 50vh;
    transform: translateY(-50%);
    z-index: 999;
  }
  .header h1 {
    font-size: 50vw;
    position: relative;
  }
  .galleryContent__ellipse {
    display: none;
  }
  .galleryContent {
    /* display: flex;
    flex-direction: column; (aplicado desde bs) */
    overflow-y: visible;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
  }
  .galleryContent__container {
    height: auto;
    width: 100vw;
    display: block;
  }
  .galleryContent__container,
  .imgGallery01,
  .imgGallery02,
  .imgGallery03,
  .imgGallery04 {
    transform: translate(0, 0);
  }
  .imgGallery01 {
    position: relative;
    width: 46vw;
    top: 16vh;
    left: -10vw;
  }
  .imgGallery02 {
    position: relative;
    width: 72vw;
    top: 20vh;
    left: 41vw;
  }
  .imgGallery03 {
    position: relative;
    width: 40vw;
    left: 70vw;
    top: -74vh;
  }
  .imgGallery04 {
    position: relative;
    top: 6vh;
    left: 0;
    width: 100vw;
  }
}
@font-face {
  font-family: "Kyiv";
  src: url("../fonts/Kyiv/Dmitry Rastvortsev - KyivType Sans Bold2.otf") format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: "Eugusto";
  src: url("../fonts/Eugusto Free Font.otf");
}
/* FONTS */
/* COLORS */
/* PADDING */
/* HEIGHT */
/* EXTEND */
.widthHeight100, .cover, .menuContent, .footer, .header {
  width: 100vw;
  height: 100vh;
}

/* --------------------------------------------------- CONTENIDO MENU --------------------------------------------------- */
/* Padding agregado al contenedor de todo el contenido para que se mantengan siempre
los mismos márgenes */
.menuContent {
  padding: 0 6.25vw 0 6.25vw;
}

/* --------------------- MENU/HOVER ZONE --------------------- */
.menuHoverZone {
  margin-top: 16vh;
  height: 64vh;
  width: 100%;
  padding-top: 5.43vh;
  position: absolute;
  z-index: 999;
  /* display: flex;
  flex-direction: column; (se aplica desde bs)*/
}

.menuHoverZone__container {
  /* display: flex; (se usa desde bs) */
  /* align-items: center; */
  flex-grow: 1;
}
.menuHoverZone__container:hover {
  cursor: pointer;
}

/* .menuHoverZone__smallContainer {
    display: flex; 
    align-items: flex-start; (se aplica desde bs)
} */
.menuHoverZone__tittle {
  font-size: 5.833vw;
  margin-left: 0.83vw;
}

.menuHoverZone__number {
  font-size: 1.944vw;
  align-self: top;
}

.menuSelected {
  font-weight: 700;
  color: #FFFFFF;
}

.menuSelected .menuHoverZone__tittle {
  order: 1;
  margin-right: 0.83vw;
}

.menuSelected .menuHoverZone__number {
  order: 2;
}

.menuNoSelected {
  font-weight: 600;
  color: #373737;
}

/* --------------------- MENU/CONTACT --------------------- */
.menuContact {
  position: absolute;
  bottom: 10vh;
  z-index: 1000;
  /* tuve que poenrle este z-index porque el containerGallery lo está tapando,
  el ancho lo está definiendo el ancho del primer hijo imgGallery01*/
}

.menuContact__list {
  /* display: flex; (se aplica desde bs) */
  list-style-type: none;
}

.menuContact__item a {
  text-decoration: none;
  margin-left: 1vw;
  color: #989898;
  font-size: 1.25vw;
}
.menuContact__item a:hover {
  color: #FFFFFF;
}

/* --------------------- MENU/HOVER IN GALLERY --------------------- */
.menuVisible {
  display: block;
}

.menuInvisible {
  display: none;
}

.menuImages {
  position: absolute;
  height: 100vh;
  width: 60vw;
  left: 40vw;
  z-index: 998;
}

.menuImagesGallery__img02Container {
  position: relative;
  left: 6vw;
  top: 22.57vh;
  width: 16.18vw;
  height: auto;
  z-index: 999;
}

.menuImagesGallery__img02 {
  width: 16.18vw;
  height: auto;
  z-index: 999;
}

.menuImagesGallery__assetPhotographer {
  position: absolute;
  top: 100%;
  left: 100%;
  transform: translate(-50%, -70%) rotate(-20.37deg);
  width: 8vw;
  z-index: 1000;
}

.menuImagesGallery__img01 {
  position: absolute;
  left: 16vw;
  top: 50%;
  transform: translateY(-50%);
  width: auto;
  height: 100vh;
  z-index: 998;
}

.menuImagesGallery__stuff {
  position: absolute;
  right: 11vw;
  top: 36vh;
  z-index: 998;
  /* text-align: right; (aplicado desde bs) */
  font-size: 1.11vw;
  font-weight: 400;
  line-height: 1.3;
  color: #FFFFFF;
}
.menuImagesGallery__stuff::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: -30%;
  width: 0.4vw;
  height: 0.4vw;
  border-radius: 50%;
  background-color: #FFFFFF;
}

.menuImagesGallery__img03 {
  position: absolute;
  bottom: 0;
  transform: translateY(20%);
  right: 6vw;
  width: 19.86vw;
  height: auto;
  z-index: 998;
}

.menuImagesProjects__gradient {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(10%, -75%);
  z-index: 996;
  width: 20.83vw;
  height: 20.83vw;
  border-radius: 300px;
  background: #E16C01;
  filter: blur(90px);
}

.menuImagesProjects__img01 {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(30%, -50%);
  width: 18.6vw;
  height: auto;
  z-index: 997;
}

.menuImagesProjects__img02 {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(105%, -70%);
  width: 18.6vw;
  height: auto;
  z-index: 996;
}

.menuImagesProjects__img03Container {
  left: 0;
  top: 50%;
  transform: translate(170%, -30%);
  width: 18.6vw;
  height: auto;
  z-index: 997;
  position: relative;
}

.menuImagesProjects__img03 {
  width: 18.6vw;
  height: auto;
  z-index: 997;
}

.menuImagesProjects__asterisk {
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(-75%, -35%) rotate(42.29deg);
  transform-origin: center center;
  color: #E16C01;
  font-size: 12.5vw;
  font-weight: 400;
  z-index: 998;
}

.menuImagesGallery__nameProject {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translate(-285%, -295%);
  color: #000000;
  font-size: 0.9vw;
  font-weight: 400;
  z-index: 998;
}

.menuImagesProjects__img04 {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(10%, -60%);
  width: 18.6vw;
  height: auto;
  z-index: 996;
}

.menuImagesAboutMe__img02 {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(30%, -50%);
  width: 17.6vw;
  height: auto;
  z-index: 997;
}

.menuImagesAboutMe__img01Container {
  left: 0;
  top: 50%;
  transform: translate(100%, -15%);
  width: 18.6vw;
  height: auto;
  z-index: 997;
  position: relative;
}

.menuImagesAboutMe__img01 {
  width: 19.5vw;
  height: auto;
  z-index: 997;
}

.menuImagesAboutMe__assetAgs {
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-50%, 155%) rotate(-17.125deg);
  z-index: 998;
  width: 5.25vw;
}

.menuImagesAboutMe__img03 {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(10%, -60%);
  width: auto;
  height: 100vh;
  z-index: 996;
}

/* --------------------------------------------------- MEDIA QUERIES --------------------------------------------------- */
@media (max-width: 768px) {
  /* -------------------------------- MENU -------------------------------- */
  .menuContent {
    display: grid;
    grid-template-rows: 4fr 1fr;
    overflow: hidden;
  }
  .menuHoverZone {
    position: static;
    height: auto;
    margin-top: 0;
    justify-content: center;
    gap: 6vh;
    z-index: 997;
  }
  .menuContact {
    position: static;
  }
  .menuHoverZone__container {
    flex-grow: 0;
  }
  .menuHoverZone__tittle {
    font-size: 12vw;
  }
  .menuHoverZone__number {
    font-size: 5vw;
  }
  .menuContact__list {
    /* flex-direction: column; (se aplica desde bs) */
    gap: 3vh;
  }
  .menuContact__item a {
    font-size: 4.25vw;
  }
}
@font-face {
  font-family: "Kyiv";
  src: url("../fonts/Kyiv/Dmitry Rastvortsev - KyivType Sans Bold2.otf") format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: "Eugusto";
  src: url("../fonts/Eugusto Free Font.otf");
}
/* FONTS */
/* COLORS */
/* PADDING */
/* HEIGHT */
/* EXTEND */
.widthHeight100, .cover, .footer, .header, .menuContent {
  width: 100vw;
  height: 100vh;
}

/* --------------------------------------------------- CONTENIDO ABOUT ME --------------------------------------------------- */
.aboutMeContent {
  /* display: flex;
  flex-wrap: nowrap;
  align-items: flex-start; (se aplica desde bs) */
  flex-direction: row;
  width: fit-content;
  height: 100vh;
  overflow: visible;
  padding-left: 5.8vw;
}

/* --------------------------------------------------- SECCIÓN 1 --------------------------------------------------- */
.aboutMeSection1 {
  position: relative;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  flex-shrink: 0;
  margin-right: 16vw;
}

.aboutMeSection1__title {
  position: absolute;
  top: 20vh;
  left: 4vw;
  font-size: 7.92vw;
  font-style: normal;
  font-weight: 400;
  line-height: 63%;
  color: #0A0A0A;
  z-index: 999;
}

.aboutMeSection1__text01 {
  position: absolute;
  z-index: 999;
  left: 4vw;
  top: 51.5vh;
  width: 23vw;
  font-size: 1.11vw;
  color: #0A0A0A;
}

.aboutMeSection1__img01 {
  position: absolute;
  left: 19vw;
  top: -16vh;
  width: 38vw;
  height: auto;
  z-index: 998;
}

.aboutMeSection1__img02 {
  position: absolute;
  top: 10vh;
  right: 5vw;
  width: 34.72vw;
  height: auto;
  z-index: 997;
}

.aboutMeSection1__assetPhotographer {
  position: absolute;
  bottom: 10vh;
  right: 34vw;
  width: 16vw;
  z-index: 999;
}

/* --------------------------------------------------- SECCIÓN 2 --------------------------------------------------- */
.aboutMeSection2 {
  /* display: flex;
  flex-direction: column; (se aplica desde bs) */
  justify-content: space-around;
  width: 25.56vw;
  height: 52.86vh;
  flex-shrink: 0;
  align-self: center;
  margin-right: 16vw;
}

.aboutMeSection2__h2 {
  color: #0A0A0A;
  font-size: 2.78vw;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 5.4vh;
}

.aboutMeSection2__p {
  color: #0A0A0A;
  font-size: 1.11vw;
  font-weight: 400;
  line-height: 152.5%;
  margin-bottom: 1rem;
}

.aboutMeSection2__chips {
  /* display: flex; (se aplica desde bs) */
  gap: 0.7vw;
  margin-top: 5.4vh;
  white-space: nowrap;
}

.aboutMeSection2__chip01,
.aboutMeSection2__chip02,
.aboutMeSection2__chip03 {
  padding: 0.5vw 1.5vw;
  justify-content: center;
  align-items: center;
  border-radius: 3vw;
  border: 1.2px solid #0A0A0A;
}

/* --------------------------------------------------- SECCIÓN 3 --------------------------------------------------- */
.aboutMeSection3 {
  /* display: flex;
  flex-direction: row; (se aplica desde bs) */
  flex-direction: row;
  flex-shrink: 0;
  width: auto;
}

.aboutMeSection3__img01Container {
  position: relative;
  width: auto;
  height: 150vh;
  flex-shrink: 0;
}

.aboutMeSection3__img01 {
  top: -12vh;
  left: 0;
  width: auto;
  height: 150vh;
}

.aboutMeSection3__assetWow {
  position: absolute;
  top: 34vh;
  left: -6vw;
  width: 9.58vw;
  transform: rotate(-20.365deg);
}

.aboutMeSection3__assetAgs {
  position: absolute;
  top: 48vh;
  left: -3vw;
  width: 7vw;
  transform: rotate(8.295deg);
}

.aboutMeSection3__img02 {
  top: 0;
  left: 20vw;
  width: auto;
  height: 100vh;
  flex-shrink: 0;
}

/* --------------------------------------------------- SECCIÓN 4 --------------------------------------------------- */
/* Le saqué la posición absoluta para poder hacerlo parte del contenedor flex */
.footerAboutMe {
  flex-shrink: 0;
}

/* --------------------------------------------------- MEDIA QUERIES --------------------------------------------------- */
@media (max-width: 768px) {
  body {
    height: auto;
    overflow-y: visible;
    overflow-x: hidden;
  }
  .aboutMeContent {
    flex-direction: column;
    overflow-x: hidden;
    width: 100vw;
    height: auto;
    padding-left: 0;
  }
  /* --------------------- SECCIÓN 1 --------------------- */
  .aboutMeSection1 {
    height: fit-content;
    margin-top: 14vh;
    display: flex;
    flex-direction: column;
    order: 1;
  }
  .aboutMeSection1__title,
  .aboutMeSection1__text01,
  .aboutMeSection1__img01Container,
  .aboutMeSection1__img02,
  .aboutMeSection1__assetPhotographer {
    position: static;
  }
  .aboutMeSection1__title {
    padding: 1vh 7.2vw 0 7.2vw;
    font-size: 25.6vw;
    order: 1;
  }
  .aboutMeSection1__img01Container {
    order: 2;
    width: 100vw;
    position: relative;
    top: 0;
    left: 0;
  }
  .aboutMeSection1__img01 {
    position: relative;
    width: 100vw;
    top: -8vh;
    left: 7.2vw;
  }
  .aboutMeSection1__img02 {
    order: 3;
    width: 71.5vw;
    position: relative;
    top: -16vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 998;
  }
  .aboutMeSection1__text01 {
    position: relative;
    order: 4;
    width: auto;
    padding: 0 7.2vw;
    top: -7vh;
    left: 0vw;
    font-size: 1rem;
    text-align: center;
  }
  .aboutMeSection1__assetPhotographer {
    position: absolute;
    top: 92vh;
    right: 0;
    z-index: 999;
    width: 36vw;
    height: 36vw;
  }
  /* --------------------- SECCIÓN 2 --------------------- */
  .aboutMeSection3 {
    order: 2;
    flex-direction: column;
  }
  .aboutMeSection3__img01Container {
    position: relative;
    top: 0;
    left: 0vw;
    width: 100vw;
    height: fit-content;
  }
  .aboutMeSection3__img01 {
    position: relative;
    top: 0;
    left: -10vw;
    width: 100vw;
    height: auto;
  }
  .aboutMeSection3__assetWow {
    position: absolute;
    top: calc(84% - 26vw);
    left: calc(95% - 26vw);
    width: 26vw;
    z-index: 998;
  }
  .aboutMeSection3__assetAgs {
    position: absolute;
    top: calc(90% - 17vw);
    left: calc(95% - 17vw);
    width: 17vw;
    z-index: 998;
  }
  .aboutMeSection3__img02 {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: auto;
    z-index: 997;
  }
  /* --------------------- SECCIÓN 3 --------------------- */
  .aboutMeSection2 {
    order: 3;
    padding: 12.12vh 7.2vw;
    /* display: flex;
    flex-direction: column; (se aplica desde bs) */
    justify-content: space-between;
    width: auto;
    height: 80vh;
    flex-shrink: 0;
    align-self: center;
    margin: 0;
  }
  .aboutMeSection2__h2 {
    font-size: 2.5rem;
    margin-bottom: 0;
  }
  .aboutMeSection2__p {
    font-size: 1rem;
    margin-bottom: 0rem;
  }
  .aboutMeSection2__chips {
    /* display: flex; (se aplica desde bs) */
    gap: 2.7vw;
    margin-top: 0vh;
  }
  .aboutMeSection2__chip01,
  .aboutMeSection2__chip02,
  .aboutMeSection2__chip03 {
    padding: 1vw 6vw;
    justify-content: center;
    align-items: center;
    border-radius: 6vw;
    border: 1.2px solid #0A0A0A;
  }
  /* --------------------- SECCIÓN 4 / FOOTER --------------------- */
  .footerAboutMe {
    order: 4;
  }
}
@font-face {
  font-family: "Kyiv";
  src: url("../fonts/Kyiv/Dmitry Rastvortsev - KyivType Sans Bold2.otf") format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: "Eugusto";
  src: url("../fonts/Eugusto Free Font.otf");
}
/* FONTS */
/* COLORS */
/* PADDING */
/* HEIGHT */
/* EXTEND */
.widthHeight100, .cover, .footer, .header, .menuContent {
  width: 100vw;
  height: 100vh;
}

/* --------------------------------------------------- CONTENIDO PROJECTS --------------------------------------------------- */
.projectsContent {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.projectsCanvas {
  width: 400vw;
  height: 400vh;
  cursor: none !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.projectsCanvas__img {
  position: absolute;
  overflow: hidden;
  will-change: filter, transform;
  /* indicar el cambio de filtro supuestamente mejoraría el rendimiento */
  transition: transform, filter 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.imgProjects01 {
  width: 28vw;
  top: 50%;
  left: 50%;
  transform: translate(-130%, -75%);
}

.imgProjects02 {
  width: 26vw;
  top: 50%;
  left: 50%;
  transform: translate(5%, -125%);
}

.imgProjects03 {
  width: 30vw;
  top: 50%;
  left: 50%;
  transform: translate(62%, -10%);
}

.imgProjects04 {
  width: 26vw;
  top: 50%;
  left: 50%;
  transform: translate(-65%, 40%);
}

.imgProjects05 {
  width: 27vw;
  top: 50%;
  left: 50%;
  transform: translate(230%, 30%);
}

.imgProjects06 {
  width: 30vw;
  top: 50%;
  left: 50%;
  transform: translate(330%, 50%);
}

.imgProjects07 {
  width: 20vw;
  top: 50%;
  left: 50%;
  transform: translate(685%, 30%);
}

/* Variables que tuve que definir en root para que js pueda acceder a ellas */
:root {
  --color-white: #FFFFFF;
  --color-light-gray: #CCCCCC;
  --color-darker-gray: #373737;
  --color-dark: #0A0A0A;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-weight: 500;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  cursor: none;
  font-family: "Syne", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.cover {
  position: absolute;
  z-index: 1000;
  background-color: #FFFFFF;
}

.no-scroll {
  overflow: hidden;
}

p,
ul {
  /* para contrarrestar el por defecto aplicado por bootstrap */
  margin-bottom: 0;
}

h1 {
  /* para contrarrestar el por defecto aplicado por bootstrap */
  color: #0A0A0A;
  margin-bottom: 0;
}

/* --------------------------------------------------- ESTILOS GENERALES --------------------------------------------------- */
.backgroundDark {
  background-color: #0A0A0A;
}

.backgroundLight {
  background-color: #FFFFFF;
}

.blackVersion {
  color: #000000;
}

.whiteVersion {
  color: #FFFFFF;
}

.breadcrumb {
  color: #989898;
  font-size: 1.25vw;
  /*para contrarrestar bootstrap que pone breadcrumb en display flex*/
  display: inline-block;
}

.blur-effect {
  filter: blur(0.14vw);
}

.underlineLink--black {
  position: relative;
  text-decoration: none;
}
.underlineLink--black::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 0.2vw;
  background-color: #000000;
  transition: width 0.3s ease-in-out;
}
.underlineLink--black:hover::after {
  width: 100%;
}

.underlineLink--white {
  position: relative;
  text-decoration: none;
}
.underlineLink--white::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 0.2vw;
  background-color: #FFFFFF;
  transition: width 0.3s ease-in-out;
}
.underlineLink--white:hover::after {
  width: 100%;
}

/* --------------------------------------------------- CLASE IMG --------------------------------------------------- */
.hovered .img {
  transform: scale(1.1);
}

.img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: top left;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

/* --------------------------------------------------- BUTTON INITIAL POINT --------------------------------------------------- */
.button__initialPoint--inactive {
  display: none;
  /* se cambia a flex desde js */
}

.button__initialPoint--active {
  display: flex;
}

.button__initialPoint {
  position: absolute;
  z-index: 999;
  bottom: 6.43vh;
  right: 6.25vw;
  /*márgen que estoy usando*/
  padding: 3.14vh 1.8vw;
  background-color: #000000;
  border-radius: 4.8rem;
  transition: all 0.2s ease-in-out;
}
.button__initialPoint img {
  width: 3.02vw;
  height: auto;
}
.button__initialPoint:hover {
  border: 0.08vw solid #FFFFFF;
  mix-blend-mode: difference;
  background-color: transparent;
}

/* --------------------------------------------------- MEDIA QUERIES --------------------------------------------------- */
@media (max-width: 768px) {
  body {
    height: auto;
    overflow-y: visible;
    overflow-x: hidden;
  }
  .underlineLink--black::after,
  .underlineLink--white::after {
    height: 0.5vw;
  }
  .button__initialPoint {
    position: fixed;
    bottom: 5.43vh;
    right: 2vw;
    padding: 3.2vh 6vw;
    transform: rotate(90deg);
  }
  .button__initialPoint img {
    width: 11.8vw;
  }
}

/*# sourceMappingURL=styles.css.map */
