@import "variables";


/* --------------------------------------------------- CONTENIDO ABOUT ME --------------------------------------------------- */

.aboutMeMainContent {
    /* display: flex;
    flex-wrap: nowrap;
    align-items: flex-start; (se aplica desde bs) */
    flex-direction: row;
    width: fit-content;
    height: 100vh;
    overflow: visible;
    padding-left: 5.8vw;
}

/* --------------------------------------------------- SECCIÓN 1 --------------------------------------------------- */
.aboutMeSection1 {
    position: relative;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    flex-shrink: 0;
    margin-right: 16vw;
}


.aboutMeSection1__title {
    position: absolute;
    top: 20vh;
    left: 4vw;
    font-size: 7.92vw;
    font-style: normal;
    font-weight: 400;
    line-height: 63%;
    color: $color-dark;
    z-index: 999;
}

.aboutMeSection1__text01 {
    position: absolute;
    z-index: 999;
    left: 4vw;
    top: 51.5vh;

    width: 23vw;
    font-size: 1.11vw;
    color: $color-dark;
}


.aboutMeSection1__img01 {
    position: absolute;
    left: 19vw;
    top: -16vh;
    width: 38vw;
    height: auto;
    z-index: 998;

}

.aboutMeSection1__img02 {
    position: absolute;
    top: 10vh;
    right: 5vw;
    width: 34.72vw;
    height: auto;
    z-index: 997;
}

.aboutMeSection1__assetPhotographer {
    position: absolute;
    bottom: 10vh;
    right: 34vw;
    width: 16vw;
    z-index: 999;
}

/* --------------------------------------------------- SECCIÓN 2 --------------------------------------------------- */
.aboutMeSection2 {
    /* display: flex;
    flex-direction: column; (se aplica desde bs) */
    justify-content: space-around;
    width: 25.56vw;
    height: 52.86vh;
    flex-shrink: 0;
    align-self: center;
    margin-right: 16vw;
}

.aboutMeSection2__h2 {
    color: $color-dark;
    font-size: 2.78vw;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 5.4vh;
}

.aboutMeSection2__p {
    color: $color-dark;
    font-size: 1.11vw;
    font-weight: 400;
    line-height: 152.5%;
    margin-bottom: 1rem;
}

.aboutMeSection2__chips {
    /* display: flex; (se aplica desde bs) */
    gap: 0.7vw;
    margin-top: 5.4vh;
    white-space: nowrap;
}

.aboutMeSection2__chip01,
.aboutMeSection2__chip02,
.aboutMeSection2__chip03 {
    padding: 0.5vw 1.5vw;
    justify-content: center;
    align-items: center;
    border-radius: 3vw;
    border: 1.2px solid $color-dark;
}

/* --------------------------------------------------- SECCIÓN 3 --------------------------------------------------- */
.aboutMeSection3 {
    /* display: flex;
    flex-direction: row; (se aplica desde bs) */
    flex-direction: row;
    flex-shrink: 0;
    width: auto;
}

.aboutMeSection3__img01Container {
    position: relative;
    width: auto;
    height: 150vh;
    flex-shrink: 0;
}

.aboutMeSection3__img01 {
    top: -12vh;
    left: 0;
    width: auto;
    height: 150vh;
}

.aboutMeSection3__assetWow {
    position: absolute;
    top: 34vh;
    left: -6vw;
    width: 9.58vw;
    transform: rotate(-20.365deg);
}

.aboutMeSection3__assetAgs {
    position: absolute;
    top: 48vh;
    left: -3vw;
    width: 7vw;
    transform: rotate(8.295deg);
}

.aboutMeSection3__img02 {
    top: 0;
    left: 20vw;
    width: auto;
    height: 100vh;
    flex-shrink: 0;
}


/* --------------------------------------------------- SECCIÓN 4 --------------------------------------------------- */
/* Le saqué la posición absoluta para poder hacerlo parte del contenedor flex */
.footerAboutMe {
    flex-shrink: 0;
}


/* --------------------------------------------------- MEDIA QUERIES --------------------------------------------------- */

@media (max-width: 768px) {

    body {
        height: auto;
        overflow-y: visible;
        overflow-x: hidden;
    }

    .aboutMeMainContent {
        flex-direction: column;
        overflow-x: hidden;
        width: 100vw;
        height: auto;
    }

    /* --------------------- SECCIÓN 1 --------------------- */

    .aboutMeSection1 {
        height: fit-content;
        margin-top: $navbarHeight;

        display: flex;
        flex-direction: column;
        order: 1;
    }

    .aboutMeSection1__title,
    .aboutMeSection1__text01,
    .aboutMeSection1__img01Container,
    .aboutMeSection1__img02,
    .aboutMeSection1__assetPhotographer {
        position: static;
    }

    .aboutMeSection1__title {
        padding: 1vh $paddingXMobile 0 $paddingXMobile;
        font-size: 25.6vw;
        order: 1;
    }

    .aboutMeSection1__img01Container {
        order: 2;
        width: 100vw;
        position: relative;
        top: 0;
        left: 0;
    }

    .aboutMeSection1__img01 {
        position: relative;
        width: 100vw;
        top: -8vh;
        left: $paddingXMobile;
    }

    .aboutMeSection1__img02 {
        order: 3;
        width: 71.5vw;
        position: relative;
        top: -16vh;
        left: 50%;
        transform: translateX(-50%);
        z-index: 998;
    }

    .aboutMeSection1__text01 {
        position: relative;
        order: 4;
        width: auto;
        padding: 0 $paddingXMobile;
        top: -7vh;
        left: 0vw;

        font-size: 1rem;
        text-align: center;
    }

    .aboutMeSection1__assetPhotographer {
        position: absolute;
        top: 88vh;
        right: 0;
        z-index: 999;

        width: 36vw;
        height: 36vw;
    }

    /* --------------------- SECCIÓN 2 --------------------- */

    .aboutMeSection3 {
        order: 2;
        flex-direction: column;
    }

    .aboutMeSection3__img01Container {
        position: relative;
        top: 0;
        left: 0vw;

        width: 100vw;
        height: fit-content;
    }
    
    .aboutMeSection3__img01 {
        position: relative;
        top: 0;
        left: -10vw;

        width: 100vw;
        height: auto;
    }

    .aboutMeSection3__assetWow {
        position: absolute;
        top: calc(84% - 26vw);
        left: calc(95% - 26vw);
        width: 26vw;
        z-index: 998;
    }
    
    .aboutMeSection3__assetAgs {
        position: absolute;
        top: calc(90% - 17vw);
        left: calc(95% - 17vw);
        width: 17vw;
        z-index: 998;
    }

    .aboutMeSection3__img02 {
        position: relative; 
        top: 0;
        left: 0;
        width: 100vw;
        height: auto;
        z-index: 997;
    }

    /* --------------------- SECCIÓN 3 --------------------- */

    .aboutMeSection2 {
        order: 3;
        padding: 12.12vh $paddingXMobile;

        /* display: flex;
        flex-direction: column; (se aplica desde bs) */
        justify-content: space-between;
        width: auto;
        height: 80vh;
        flex-shrink: 0;
        align-self: center;
        margin: 0;
    }

    
    .aboutMeSection2__h2 {
        font-size: 2.5rem;
        margin-bottom: 0;
    }
    
    .aboutMeSection2__p {
        font-size: 1rem;
        margin-bottom: 0rem;
    }
    
    .aboutMeSection2__chips {
        /* display: flex; (se aplica desde bs) */
        gap: 2.7vw;
        margin-top: 0vh;
    }
    
    .aboutMeSection2__chip01,
    .aboutMeSection2__chip02,
    .aboutMeSection2__chip03 {
        padding: 1vw 6vw;
        justify-content: center;
        align-items: center;
        border-radius: 6vw;
        border: 1.2px solid $color-dark;
    }

    /* --------------------- SECCIÓN 4 / FOOTER --------------------- */

    .footerAboutMe{
        order: 4;
    }

}