@import "variables";


/* --------------------------------------------------- FOOTER --------------------------------------------------- */

.footerGallery {
    position: absolute;
    top: 0;
    left: 100vw;
}

.footer {
    padding: 0 $paddingXDesktop;
    background-color: $color-dark;

    @extend .widthHeight100;
    z-index: 998;

    display: grid;
    grid-template-rows: 3fr 1fr;
}


.footer__lgit {
    /* display: flex; (agregado desde bs)*/
    align-items: center;
    padding-top: 10vh;

    h2 {
        position: relative;
        z-index: 999;
        transform: translate(0, 0);
        /* esto crea un nuevo contexto de apilamiento */

        font-family: $font-secondary;
        font-size: 14.93vw;
        text-transform: lowercase;
        color: $color-white;
        white-space: nowrap;

        //texto + asset
        span {
            position: relative;
            top: 0;
            left: 0;
            transition: left 0.9s ease;

            // asset ags
            img {
                position: absolute;
                bottom: 0vw;
                left: 28vw;
                width: 5.16vw;
                transform: rotate(-17.125deg);
                transition: transform 0.9s ease;
            }

        }
    }
}

// asset photographer
.footer__assetPhotographer {
    position: absolute;
    z-index: -1;
    /* esto coloca el círculo por debajo del texto */
    top: -2vh;
    left: 75vw;
    transform: rotate(7.109deg);
    background: $color-yellow;

    /* display: flex; (agregado desde bs) */
    padding: 4.17vw 2.5vw;
    align-items: center;
    width: 13.54vw;
    height: 13.54vw;
    border-radius: 50%;

    p {
        color: $color-dark;
        font-size: 1.32vw;
        line-height: 84%;
        letter-spacing: 0.02em;
        font-weight: 600;
        font-family: $font-principal;

        flex-grow: 2;
        flex-shrink: 0;
    }
}


.footer__contact {
    /* display: flex;
    flex-direction: column; (aplicado desde bs)*/
    justify-content: center;
    width: 45vw;
    margin-left: 15vw;
    /* height: 14.29vh; */
    gap: 3vh;
}

.footer__contact__row {
    /* display: flex; (aplicado desde bs)*/
    justify-content: space-around;
}

.footer__item__row1 {
    text-decoration: none;
    font-size: 2.78vw;
    letter-spacing: 0.56px;
    font-weight: 700;
    color: $color-dark-gray;

    &:hover {
        color: $color-white;
    }
}

.footer__item__row2 {
    text-decoration: none;
    color: $color-darker-gray;
    font-weight: 500;
    font-size: 1.25vw;

    &:hover {
        color: $color-white;
    }
}


.footer__item--active::before {
    content: '*';
}



/* --------------------------------------------------- MEDIA QUERIES --------------------------------------------------- */

@media (max-width: 768px) {

    /* -------------------------------- FOOTER -------------------------------- */

    .footerGallery {
        position: static;
    }

    .footer {
        padding: 0 6.25vw;
        background-color: $color-dark;
        width: 100vw;
        height: 100vh;
        z-index: 998;

        display: grid;
        grid-template-rows: 3fr 1fr;
    }


    .footer__lgit {
        padding-top: 0vh;
        max-height: 70vh;

        h2 {
            position: static;
            font-weight: 700;
            font-size: 26vw;
            white-space: pre-wrap;
            max-height: 96vh;

            span {
                position: static;

                img {
                    display: none;
                }
            }
        }
    }

    .footer__assetPhotographer {
        top: 36vh;
        left: 50vw;
        padding: 4.17vw 6.5vw;
        width: 35.54vw;
        height: 35.54vw;

        p {
            font-size: 3.4vw;
        }
    }


    .footer__contact {
        margin-left: 0vw;
        width: 100%;
        padding-bottom: 6vh;
    }

    .footer__contact__row {
        height: 100%;
        /* flex-direction: column; (aplicado desde bs)*/
    }


    .footer__item__row2 {
        font-size: 4.6vw;
    }

}