@import "variables";


/* --------------------------------------------------- CONTENIDO PROJECTS --------------------------------------------------- */

.projectsContent{
    // @extend .widthHeight100;
    width: 100vw;
    height: 100vh;

    position: relative;
}


.projectsCanvas {
    width: 400vw;
    height: 400vh;
    // background: linear-gradient(blue, pink);
    cursor: none !important;

    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.projectsCanvas__img {
    position: absolute;
    overflow: hidden;

    will-change: filter, transform;
    /* indicar el cambio de filtro supuestamente mejoraría el rendimiento */
    transition: transform, filter 0.4s cubic-bezier(0.4, 0, 0.2, 1);

}

.imgProjects01 {
    width: 28vw;
    top: 50%; 
    left: 50%; 
    transform: translate(-130%, -70%); 
}

.imgProjects02 {
    width: 26vw;
    top: 50%; 
    left: 50%; 
    transform: translate(5%, -120%); 
}

.imgProjects03 {
    width: 30vw;
    top: 50%; 
    left: 50%; 
    transform: translate(62%, -05%); 
}

.imgProjects04 {
    width: 28vw;
    top: 50%; 
    left: 50%; 
    transform: translate(-70%, 45%); 
}

.imgProjects05 {
    width: 27vw;
    top: 50%; 
    left: 50%; 
    transform: translate(230%, 30%); 
}

.imgProjects06 {
    width: 30vw;
    top: 50%; 
    left: 50%; 
    transform: translate(350%, 50%); 
}

.imgProjects07 {
    width: 26vw;
    top: 50%; 
    left: 50%; 
    transform: translate(610%, 55%); 
}

.imgProjects08 {
    width: 26vw;
    top: 50%; 
    left: 50%; 
    transform: translate(-280%, -25%); 
}

.imgProjects09 {
    width: 28vw;
    top: 50%; 
    left: 50%; 
    transform: translate(350%, -85%); 
}

.imgProjects10 {
    width: 28vw;
    top: 50%; 
    left: 50%; 
    transform: translate(195%, -115%); 
}

.imgProjects11 {
    width: 28vw;
    top: 50%; 
    left: 50%; 
    transform: translate(-160%, -195%); 
}

.imgProjects12 {
    width: 26vw;
    top: 50%; 
    left: 50%; 
    transform: translate(-310%, -150%); 
}

.imgProjects13 {
    width: 26vw;
    top: 50%; 
    left: 50%; 
    transform: translate(-455%, -120%); 
}

.imgProjects14 {
    width: 26vw;
    top: 50%; 
    left: 50%; 
    transform: translate(-435%, 05%); 
}

.imgProjects15 {
    width: 28vw;
    top: 50%; 
    left: 50%; 
    transform: translate(-715%, -10%); 
}

.imgProjects16 {
    width: 28vw;
    top: 50%; 
    left: 50%; 
    transform: translate(-560%, 45%); 
}

.imgProjects17 {
    width: 28vw;
    top: 50%; 
    left: 50%; 
    transform: translate(-560%, -90%); 
}

.imgProjects18 {
    width: 28vw;
    top: 50%; 
    left: 50%; 
    transform: translate(360%, -220%); 
}

.imgProjects19 {
    width: 28vw;
    top: 50%; 
    left: 50%; 
    transform: translate(515%, -80%); 
}

.imgProjects20 {
    width: 28vw;
    top: 50%; 
    left: 50%; 
    transform: translate(25%, -225%); 
}

.imgProjects21 {
    width: 28vw;
    top: 50%; 
    left: 50%; 
    transform: translate(180%, -235%); 
}

.imgProjects22 {
    width: 28vw;
    top: 50%; 
    left: 50%; 
    transform: translate(515%, -205%); 
}

.imgProjects23 {
    width: 28vw;
    top: 50%; 
    left: 50%; 
    transform: translate(-695%, -140%);
}




/* --------------------------------------------------- MEDIA QUERIES --------------------------------------------------- */

@media (max-width: 768px) {

   
    .projectsContent{
        position: static;
        width: 100vw;
        height: fit-content;
    }
    
    
    .projectsCanvas {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: fit-content;

        transform: translate(0, 0);
        top: 0;
        left: 0;
    }

    .projectsCanvas__img, .imgProjects01, .imgProjects02, .imgProjects03, .imgProjects04, .imgProjects05, .imgProjects06, .imgProjects07, .imgProjects08, .imgProjects09, .imgProjects10, .imgProjects11, .imgProjects12, .imgProjects13, .imgProjects14, .imgProjects15, .imgProjects16, .imgProjects17, .imgProjects18, .imgProjects19, .imgProjects20, .imgProjects21, .imgProjects22, .imgProjects23 {
        position: static;
        top: 0;
        left: 0;
        transform: translate(0, 0);
    }

    .imgProjects01, .imgProjects02, .imgProjects03, .imgProjects04, .imgProjects05, .imgProjects06, .imgProjects07, .imgProjects08, .imgProjects09, .imgProjects10, .imgProjects11, .imgProjects12, .imgProjects13, .imgProjects14, .imgProjects15, .imgProjects16, .imgProjects17, .imgProjects18, .imgProjects19, .imgProjects20, .imgProjects21, .imgProjects22, .imgProjects23 {
        width: 100vw;
    }


}