@import "variables";


/* --------------------------------------------------- CONTENIDO PROJECTS --------------------------------------------------- */

.projectsContent{
    //@extend .widthHeight100;
    width: 100vw;
    height: 100vh;

    position: relative;
}


.projectsCanvas {
    width: 400vw;
    height: 400vh;
    background: linear-gradient(blue, pink);

    position: absolute;
    // top: 0;
    // left: 0;
    // transform: translate(-200vw, -200vh);

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.projectsCanvas__img {
    position: absolute;
    overflow: hidden;

    will-change: filter, transform;
    /* indicar el cambio de filtro supuestamente mejoraría el rendimiento */
    transition: transform, filter 0.4s cubic-bezier(0.4, 0, 0.2, 1);

}

.imgProjects01 {
    width: 28vw;
    top: 50%; /* Centra verticalmente */
    left: 50%; /* Centra horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta el centrado */
}
