@import "variables";


/* --------------------------------------------------- CONTENIDO PROJECTS --------------------------------------------------- */

.projectsContent{
    // @extend .widthHeight100;
    width: 100vw;
    height: 100vh;

    position: relative;
}


.projectsCanvas {
    width: 400vw;
    height: 400vh;
    // background: linear-gradient(blue, pink);
    cursor: none !important;

    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.projectsCanvas__img {
    position: absolute;
    overflow: hidden;

    will-change: filter, transform;
    /* indicar el cambio de filtro supuestamente mejoraría el rendimiento */
    transition: transform, filter 0.4s cubic-bezier(0.4, 0, 0.2, 1);

}

.imgProjects01 {
    width: 28vw;
    top: 50%; 
    left: 50%; 
    transform: translate(-130%, -75%); 
}

.imgProjects02 {
    width: 26vw;
    top: 50%; 
    left: 50%; 
    transform: translate(5%, -125%); 
}

.imgProjects03 {
    width: 30vw;
    top: 50%; 
    left: 50%; 
    transform: translate(62%, -10%); 
}

.imgProjects04 {
    width: 26vw;
    top: 50%; 
    left: 50%; 
    transform: translate(-65%, 40%); 
}

.imgProjects05 {
    width: 27vw;
    top: 50%; 
    left: 50%; 
    transform: translate(230%, 30%); 
}

.imgProjects06 {
    width: 30vw;
    top: 50%; 
    left: 50%; 
    transform: translate(330%, 50%); 
}

.imgProjects07 {
    width: 20vw;
    top: 50%; 
    left: 50%; 
    transform: translate(685%, 30%); 
}




/* --------------------------------------------------- MEDIA QUERIES --------------------------------------------------- */

@media (max-width: 768px) {

   
    .projectsContent{
        position: static;
        width: 100vw;
        height: fit-content;
    }
    
    
    .projectsCanvas {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: fit-content;

        transform: translate(0, 0);
        top: 0;
        left: 0;
    }

    .projectsCanvas__img, .imgProjects01, .imgProjects02, .imgProjects03, .imgProjects04, .imgProjects05, .imgProjects06, .imgProjects07{
        position: static;
        top: 0;
        left: 0;
        transform: translate(0, 0);
    }

    .imgProjects01, .imgProjects02, .imgProjects03, .imgProjects04, .imgProjects05, .imgProjects06, .imgProjects07 {
        width: 100vw;
    }


}