/* COLORS */
$color-yellow: #EFF339;
$color-white: #FFFFFF;
$color-light-gray: #CCCCCC;
$color-gray: #989898;
$color-dark-gray: #6D6D6D;
$color-darker-gray: #373737;
$color-dark: #0A0A0A;
$color-black: #000000;


/* FONTS */
$font-principal: 'Syne', sans-serif;
$font-secondary: 'Kyiv', sans-serif;
$font-tertiary: 'Eugusto', sans-serif;

