
@font-face {
    font-family: 'Kyiv';
    src: url('../fonts/Kyiv/Dmitry\ Rastvortsev\ -\ KyivType\ Sans\ Bold2.otf') format('opentype');
    font-weight: 700;
}

@font-face {
    font-family: 'Eugusto';
    src: url('../fonts/Eugusto\ Free\ Font.otf');
}

/* FONTS */
$font-principal: 'Syne', sans-serif;
$font-secondary: 'Kyiv', sans-serif;
$font-tertiary: 'Eugusto', sans-serif;

/* COLORS */
$color-yellow: #EFF339;
$color-white: #FFFFFF;
$color-light-gray: #CCCCCC;
$color-gray: #989898;
$color-dark-gray: #6D6D6D;
$color-darker-gray: #373737;
$color-dark: #0A0A0A;
$color-black: #000000;

/* PADDING */
$paddingXDesktop: 6.25vw;
$paddingXMobile: 7.2vw;

/* HEIGHT */
$navbarHeight: 14vh;

/* EXTEND */
.widthHeight100{
    width: 100vw;
    height: 100vh;
}