/* --------------------------------------------------- BASE --------------------------------------------------- */

@import "variables";
@import "cursor";
@import "navbar";
@import "footer";
@import "gallery";
@import "menu";
@import "aboutme";


/* Variables que tuve que definir en root para que js pueda acceder a ellas */
:root {
    --color-white: #FFFFFF;
    --color-light-gray: #CCCCCC;
    --color-darker-gray: #373737;
    --color-dark: #0A0A0A;
}


* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-weight: 500;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    cursor: none;
    font-family: $font-principal;
}

::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.cover {
    position: absolute;
    @extend .widthHeight100;
    z-index: 1000;
    background-color: $color-white;
}

.no-scroll {
    overflow: hidden;
}

p,
ul {
    /* para contrarrestar el por defecto aplicado por bootstrap */
    margin-bottom: 0;
}

h1 {
    /* para contrarrestar el por defecto aplicado por bootstrap */
    color: $color-dark;
    margin-bottom: 0;
}


/* --------------------------------------------------- ESTILOS GENERALES --------------------------------------------------- */


.backgroundDark {
    background-color: $color-dark;
}

.backgroundLight {
    background-color: $color-white;
}

.blackVersion {
    color: $color-black;
}

.whiteVersion {
    color: $color-white;
}

.breadcrumb {
    color: $color-gray;
    font-size: 1.25vw;

    /*para contrarrestar bootstrap que pone breadcrumb en display flex*/
    display: inline-block;
}


.blur-effect {
    filter: blur(0.14vw);
}


// Mixin para aplicar el underlink pasando como parámetro el color
@mixin underlineLink($color) {
    position: relative;
    text-decoration: none;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 0;
        height: 0.2vw;
        background-color: $color;
        transition: width 0.3s ease-in-out;
    }

    &:hover::after {
        width: 100%;
    }
}

.underlineLink--black {
    @include underlineLink($color-black);
}

.underlineLink--white {
    @include underlineLink($color-white);
}


/* --------------------------------------------------- CLASE IMG --------------------------------------------------- */

.hovered .img {
    transform: scale(1.1);
}

.img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: top left;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

/* --------------------------------------------------- BUTTON INITIAL POINT --------------------------------------------------- */

.button__initialPoint--inactive {
    display: none;
    /* se cambia a flex desde js */
}

.button__initialPoint--active {
    display: flex;
}

.button__initialPoint {
    position: absolute;
    z-index: 999;
    bottom: 6.43vh;
    right: $paddingXDesktop;
    /*márgen que estoy usando*/
    padding: 3.14vh 1.8vw;
    background-color: $color-black;
    border-radius: 4.8rem;
    transition: all 0.2s ease-in-out;

    // arrow
    img {
        width: 3.02vw;
        height: auto;
    }

    &:hover {
        border: 0.08vw solid $color-white;
        mix-blend-mode: difference;
        background-color: transparent;
    }
}



/* --------------------------------------------------- MEDIA QUERIES --------------------------------------------------- */

@media (max-width: 768px) {

    body {
        height: auto;
        overflow-y: visible;
        overflow-x: hidden;
    }

    .underlineLink--black::after,
    .underlineLink--white::after {
        height: 0.5vw;
    }

    .button__initialPoint {
        position: fixed;
        bottom: 5.43vh;
        right: 2vw;
        padding: 2.71vh 7vw;
        transform: rotate(90deg);

        // arrow
        img {
            width: 11.8vw;
        }
    }

}